/* 1. Import Tailwind */
@import "tailwindcss";

/* 2. Import the Font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


@layer base{
  html {
    font-size: 16px; 
  }
}

/* 3. Create a Utility Class */
@layer utilities {
  .font-audiowide {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
}
